################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Cars/Cars/bin/Debug
/Cars/Cars/obj/Debug
